/*
* Copyright ⓒ 2018 Cassidy James Blaede (https://cassidyjames.com)
*
* This program is free software; you can redistribute it and/or
* modify it under the terms of the GNU General Public
* License as published by the Free Software Foundation; either
* version 2 of the License, or (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
* General Public License for more details.
*
* You should have received a copy of the GNU General Public
* License along with this program; if not, write to the
* Free Software Foundation, Inc., 51 Franklin Street, Fifth Floor,
* Boston, MA 02110-1301 USA
*
* Authored by: Cassidy James Blaede <c@ssidyjam.es>
*/

@define-color colorAccent @BANANA_700;

.ideogram {
  background: alpha(@theme_bg_color, 0);
}

.hidden,
.titlebar {
  background: alpha(@theme_bg_color, 0);
  border: none;
  color: alpha(@theme_bg_color, 0);
  font-size: 0.001px;
  margin: 0;
  opacity: 0;
  padding: 0;
}

decoration {
  box-shadow:
    0 0 0 1px alpha(@theme_bg_color, 0),
    0 14px 28px alpha(@theme_bg_color, 0),
    0 10px 10px alpha(@theme_bg_color, 0);
}

.fake-window {
  background: @theme_bg_color;
  border-radius: 4px;
  box-shadow:
    0 0 0 1px @decoration_border_color,
    0 14px 28px alpha(black, 0.35),
    0 10px 10px alpha(black, 0.22);
  margin: 0 12px 12px;
  padding: 12px 6px;
}

.h1 {
  font-family: Raleway, sans-serif;
  font-weight: 200;
  font-size: 2.5em;
}

